@media (max-width: 600px) {
}

:root{
    --primary-color: rgb(109, 229, 193);
}
html{
    scroll-behavior: smooth;
}
@media (min-width: 768px) {
  }
  
  /* Styles for desktop */
  @media (max-width: 104px) {
  }

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    background: rgba(5, 5, 16, 0.956);
}

/* General link styling */
a {
    color: white;
    text-decoration: none;
}

/* Navbar container */
.navbar {
    list-style-type: none;
    display: flex;
    margin-left: 100px;
    position: fixed; /* Fixes the navbar to the viewport */
    top: 0; /* Sticks to the top */
    z-index: 1000; /* Ensures it's on top of other elements */
}

/* Header styling */
.header {
    border-bottom: 2px solid cyan; /* Stylish line */
    box-shadow: 0 2px 8px rgba(0, 255, 255, 0.2); /* Subtle shadow */
    backdrop-filter: blur(10px); /* Adds a glassy blur effect */
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black background */
    width: 100%; /* Ensure it spans the entire width */
    position: fixed; /* Keeps the header fixed */
    top: 0; /* Aligns to the top of the page */
    z-index: 1000; /* Ensures the header stays on top */
}

/* Navbar list items */
.navbar li {
    color: white;
    margin-right: 70px;
    position: relative; /* Allows the pseudo-element for underline */
}

/* Active link styling (Green Underline) */
.navbar .active::after {
    content: ""; /* Adds a decorative line */
    position: absolute;
    bottom: -5px; /* Places it slightly below the text */
    left: 0;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: green; /* Green color */
}

/* Hover effect */
.navbar li:hover::after {
    content: ""; /* Adds underline on hover */
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color, cyan); /* Change hover underline color */
}

/* Div for navbar grid layout */
.dividenav {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two-column grid layout */
    align-items: center; /* Center the logo and navbar vertically */
}

/* Optional: Smooth transitions */
.navbar li, .navbar a {
    transition: all 0.3s ease-in-out; /* Smooth transitions for hover and active states */
}


.section{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    margin-top: 120px;
}

.image-container {
    width: 350px; 
    height: 350px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px var(--primary-color); 
    margin-left: 60px;
    margin-bottom: 10px;
}

.image-container img{
    width: 360px;
    height: 350px;
}


h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;
color: var(--primary-color);
}

.first-div p{
    color: white;
}

.first-div{
    margin-left: 200px;
}

.button-div{
    gap: 25px;
    display: flex;
    list-style: none;
   margin-left: -35px;

}

.icons {
    width: 20px; 
    height: 20px; 
    border: 2px solid var(--primary-color);
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.button-div i, button {
    font-size: 13px; 
    color: var(--primary-color) ; 
    background-color: transparent;
    border: none;
}

.button-div i:hover{
    background-color: white;
}

.download-cv button{
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background-color: var(--primary-color);
    color: black;
    font-weight: bold;
}

.download-cv i{
    color: #000;
}

.download-cv button:hover{
    background-color: black;
    color: black;
}


.circle {
    position: relative; 
    top: 15%; 
    left: 25%;
    transform: translate(-50%, -50%); 
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: none;
    animation: rotate 60s linear infinite;
}

.circleonetitle{
    position: relative; 
    top: 30%; 
    left: 37%;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
}


.circle2 {
    position: relative; 
    top: 15%; 
    left: 25%;
    transform: translate(-50%, -50%); 
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: none;
    animation: rotate 60s linear infinite;
    
}

.circletwotitle{
    position: relative; 
    top: 30%; 
    left: 47%;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
}

.circle3 {
    position: relative; 
    top: 20%; 
    left: 25%;
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3x3 grid layout */
    grid-gap: 20px;
    width: 330px;
    height: 330px;

}

.circlethreetitles{
    display: flex;
    border: 4px solid var(--primary-color);
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 100px;
    width: 110px;
      }

.circlethreetitle{
    position: relative; 
    top: 70%; 
    left: 37%;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
      }

      @keyframes rotateGrid {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

.circle img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 75%;
    border: 4px solid var(--primary-color);
}

.circle2 img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 75%;
    border: 4px solid var(--primary-color);
}

.circle3 p {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color) ;
}


.dividenav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.containers {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-left: 180px;
    margin-top: 40px;
    gap:-7px;
}

.counter-number {
    font-size: 42px;
    font-weight: bold;
    color: var(--primary-color);
}

.counter-label {
    font-size: 16px;
    margin-right: 150px;
    font-weight: bold;
    text-align: left;
}

.counter-container{
    display: grid;
    grid-template-columns:repeat(2,1fr); color:white;
}

.title{
text-align: center; 
color: white;
font-size: 30px;
font-weight: bold;
margin-top: 190px;
}

.flip-card {
    background-color: transparent;
    width: 280px;
    height: 400px;
    perspective: 1000px; /* Perspective to give a 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    background-color: rgba(49, 49, 82, 0.956);
    border: 4px solid var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: rgba(17, 86, 95, 0.956);
    border:4px solid rgba(49, 49, 82, 0.956);
}

.stack{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 20px;;
}

.Experiences{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 215px;
    margin-top:80px;
}

.flip-card-front img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: -40px;
    margin-left: 95px;
}

.flip-card-front h2, .flip-card-back h2 {
    margin: 0;
    color: white;
    font-size: 1.5em;
}


.flip-card-front p, .flip-card-back p {
    margin-top: 10px;
    font-size: 1em;
}

.corners{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
    bottom: 350px;
}

.right-corner{
margin-left:205px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 200px;
}


.content {
    margin: 20px 0;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.content p {
color: white;
font-weight: bold;
}

.buttonback, .buttonnext {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttonback:hover, .buttonnext:hover {
    background-color: #0056b3;
}

.active {
    display: block;
}

.active p{
    color: white;
}

.active img{
    width: 200px;
    height: 200px;
}

.certificates{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 215px;
    margin-top:80px;
}

.certificates .card{
    width: 100px;
    background-color: rgba(49, 49, 82, 0.956);
    border: 4px solid var(--primary-color);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 280px;
    height: 400px;
    perspective: 1000px;
    
}

.certificates .card img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-top: -40px;
    margin-left: 95px;
}

.certificates h2 {
    margin: 0;
    color: white;
    font-size: 1.5em;
}


.certificates p {
    margin-top: 10px;
    font-size: 1em;
}

.certificates img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: -40px;
    margin-left: 95px;
}

.underlined-link {
    text-decoration: underline; /* Ajoute un soulignement */
    color: white; /* Change la couleur du texte */
    font-weight: bold; /* Rend le texte plus visible */
}
.underlined-link:hover {
    text-decoration: none; /* Enlève le soulignement au survol */
}

.project-card {
    width: 300px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    overflow: hidden;
  }

  .project-card h3{
    color: white;
  }
  
  .project-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .project-card-front {
    padding: 20px;
  }
  
  .project-card-front img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .project-card-front h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .project-card-front p {
    font-size: 1em;
    color: white;
    margin-bottom: 20px;
  }
  
  .redirect-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
  
  /* GitHub Button Styling */
  .github-btn {
    background-color: #333;
    color: #fff;
  }
  
  .github-btn a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .github-btn i {
    margin-right: 8px;
  }
  
  /* Project Interfaces Button Styling */
  .interfaces-btn {
    background-color: var(--primary-color);
    color: black;
  }
  
  .interfaces-btn a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .interfaces-btn i {
    margin-right: 8px;
  }
  
  /* Hover Effects */
  .github-btn:hover {
    background-color: #6e5494; /* Purple color on hover */
  }
  
  .interfaces-btn:hover {
    background-color: var(--primary-color); /* Darker blue on hover */
  }
  
  .material-icons {
    font-size: 1.5em; /* Adjust icon size */
  }


  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 1200px;
  }
  
  
  .form-container {
    flex: 1;
    padding-left: 30px;
    border:2px solid var(--primary-color);
    border-radius: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  form label {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    width: 100%;
    max-width: 600px;
  }
  
  form input[type="email"],
  form textarea {
    width: 100%;
    max-width: 500px;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  form input[type="email"]:focus,
  form textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.2);
    outline: none;
  }
  
  form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  form button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }
  
  form button:active {
    background-color: #388e3c;
    transform: translateY(2px);
  }
  
  form textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
      padding: 30px;
    }
  
    
    .form-container {
      padding: 0;
      text-align: center;
      margin-bottom: 20px;
    }
  
    form input[type="email"],
    form textarea {
      max-width: 100%;
    }
  
    form button {
      width: 100%;
    }
  }
  